//colors
$app-bg-color = #bcbcbc
$app-text-color = #333

$modal-blur-color = rgba(16, 17, 17, 0.32)
$modal-shadow-color = rgba(0, 0, 0, 0.20)

$header-bg-color = #eeeeee
$header-border-color = #ddd
$header-shadow-color = rgba(0, 0, 0, 0.2)

$footer-bg-color = #eeeeee
$footer-border-color = #ddd

$buttons-bg-color = #f0f0f3
$buttons-bg-color-secondary = #e0e0e0
$buttons-shadow-color = rgba(174, 174, 192, 0.6)
